/* Global */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font);    
}

:root {
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
    --font:"Open Sans", sans-serif;
}

.container-width-1440 {
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}

h1, h2 {
    font-size: 22px;
    font-weight: 700;
    color:var(--black);
}

h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color:var(--black);
}

a:hover {
    transition:all 0.2s ease-in-out;
    color: var(--red);
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.fa-solid, .fas {
    font-weight: 900;
    color: var(--red);
}

/* Header */ 

header {
    display: flex;
    justify-content: space-between;
}

header > nav {
    padding: 0 0 28px 0;
}
header > nav > ul {
    gap: 50px;
}

header > nav > ul> li {
    padding: 51px 15px 0 15px;
}

header nav ul li a {
    border-top: solid 1px transparent;
    padding: 50px 15px 0 15px;
}

header nav ul li a:hover {
    border-top: solid 1px var(--red);
    padding: 50px 15px 0 15px;
}

header img {
    margin: 13px 0;
}

/* Main */

/* Section 1 */

#nav-tools form {
    display: flex;
} 
#nav-tools form i{
    color:var(--white);
    background-color: var(--red);
    padding: 11px 16px 8px 16px;
    border-radius: 7px 0 0 7px;
}

#gsearch {
    padding: 8px 16px 8px 16px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: hidden;

}

button[type=submit]{
    background-color: var(--red);
    color:var(--white);
    border-radius: 0 7px 7px 0;
    padding: 8px 16px 8px 16px;
    border: transparent ;
    cursor: pointer;
}

::placeholder{
    color:var(--black);
}

 #nav-tools h2 p i {
    color:var(--red);
}

.filter-btn {
    border-radius: 12px;
    border: solid 1px var(--red);
    justify-content: center;
    color: var(--black);
    padding: 12px;
    max-width: 100%;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
    color: var(--white);
    background-color: var(--red);
    transition: all 0.2s ease-in-out;
}

.filter-btn > i {
    color: var(--red);
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover > i {
    color:var(--white);
    transition: all 0.2s ease-in-out;
}

#nav-tools article{
    display: flex;
    align-items: center;
    gap: 24px;
} 

#nav-tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 348px;
}

#nav-tools > p:nth-child(5) i{
    color: var(--red);
}

/* Section 2 */

#all-accommodations {
    display: flex;
    gap: 40px;
}

#accomodations {
    flex:2;
    padding: 40px;
    background-color: var(--lightgrey);
    border-radius: 12px;
}


#accomodations-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#accomodations-list a{
    flex: 1 0 30%;
}

#accomodations-list a article{
    box-shadow: 0px 2px 15px 0px rgba(193, 193, 193, 1);
    background-color: var(--white);
    border-radius: 12px;
    border: solid 6px var(--white);
}

#accomodations-list a article:hover img, #top-accomodations a article:hover img{
    filter: grayscale(80%);
}

#accomodations-list a article img{
    object-fit: cover; 
    width: 100%;
    height: 160px;
    border-radius: 12px 12px 0 0;
}

.info-zone {
    padding: 0 12px;
    gap: 4px;
}

#accomodations h2, #top-accomodations h2 {
    margin-bottom: 40px;
}

/* Aside */

#top-accomodations {
    flex: 1;
    padding: 40px;
    background-color: var(--lightgrey);
    border-radius: 12px;
}

#top-accomodations a article img{
    object-fit: cover;
    width: 94.61px;
    height: 160px;
    border-radius: 12px 0 0 12px;
}

#liked-destinations a article {
    gap: 24px;
}

#liked-destinations a {
/* */
}

.popular {
    box-shadow: 0px 2px 15px 0px rgba(193, 193, 193, 1);
    background-color: var(--white);
    border-radius: 12px;
    border: solid 6px var(--white);
    display: flex;
}

#load {
    font-size: 18px;
    font-weight: 700;
    color:var(--black);
    padding: 40px 0;
    margin-top: 40px;
}

#load:hover {
    color: var(--red);
}

/* Surrounding activities */

#surrounding-activities {
    padding: 0 15px;
    gap: 40px;
    margin: 40px 0 40px 0;
}

#surrounding-activities #area-activities a{
    display: flex;
    flex: 1 0 20%;
    background-color: var(--white);
    border-radius: 0 0 12px 12px;
}

#surrounding-activities a:hover img{
    filter: grayscale(80%);
    transform: scale(1.1);
    overflow: hidden;
}

#surrounding-activities a>article {
    background-color: var(--white);
    border-radius: 12px;
    padding-bottom: 12px;
}

#area-activities a>article>h3 {
    text-align: center;
    padding: 17px 0 12px 0;
}


#surrounding-activities a article img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 5px 100px 0px rgba(0, 0, 0, 0.25);
}

#surrounding-activities #area-activities a article h3{
    justify-content: center;
}

#area-activities {
    display: flex;
    margin: 40px auto;
    gap: 40px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--lightgrey);
    border-radius: 12px 12px 0px 0px;
}

footer div {
    display: flex;
    flex: 1;
    padding: 40px;
}

footer > div > ul {
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

footer > p {
    margin: auto;
    padding: 15px;
}

footer div ul h2 {
    font-weight: 700;
    padding-bottom: 20px;
}